{% extends "base.html" %}

{% block title %}Trick Shot Simulator: Raora & Gura collide in epic stunt chaos! Watch insane shots live now!{% endblock %}

{% block meta_description %}
<meta name="description" content="Trick Shot Simulator: Raora & Gura clash in BigFish x Beeg Cat chaos! Real stunts & BTS madness. Watch now!">
{% endblock %}

{% block og_title %}Trick Shot Simulator: Raora & Gura collide in epic stunt chaos! Watch insane shots live now!{% endblock %}
{% block og_description %}Trick Shot Simulator: Raora & Gura clash in BigFish x Beeg Cat chaos! Real stunts & BTS madness. Watch now!{% endblock %}

{% block content %}
{% include 'components/trending_videos.html' %}

<!-- Adsterra Native Banner Ad   -->
<div class="container mx-auto px-4 py-8">
    <script async="async" data-cfasync="false" src="//pl25806132.effectiveratecpm.com/7a51d086a59cea802a5c95469c211032/invoke.js"></script>
    <div id="container-7a51d086a59cea802a5c95469c211032"></div>
</div>

<!-- FAQ Section -->
{% include 'components/faq_section.html' %}
{% endblock %}
